*{
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}

.container{
    width: 74vw;
    margin: auto;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    padding: 10px 15px;
    background-color:rgb(254, 249, 242);
    border-radius: 10px;
}

.nav-items > ul{
    display: flex;
    margin: 20px;
}

.nav-items > ul > li{
    list-style-type: none;
    padding: 0px 10px 0px 10px;
}

.logo{
    height: 70px;
    width: 70px;
}

.res-card {
    width: 17vw;
    height: 35vh;
    border-radius: 10px;
}


.shimmer-card{
    width: 17vw;
    height: 35vh;
    border-radius: 20px;
    background-color: #f4f4f4;
}
.img-shimmer{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
    background-color: lightgray;
}


.res-img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
}



.res-card:hover{
    transform: scale(0.95);
    transform-origin: center;
    transition: all ease-in 0.1s;
}



.res-info{
    padding: 0px 15px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h6{
    display: inline;
    margin-right: 15px;
}

.res-container{
    margin-top: 20px;
    display: flex;
    gap: 1.5vw;
    flex-wrap: wrap;
}



